/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
img{
    max-width: 100%;
}
/*LAYOUT*/
.ms_container{
    width: 100%;
    height: 100vh;
    position: relative;
    /*DEBUG*/
    background-color: grey;
}
.ms_carousel-container{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /*debug*/
    background-color: lightcoral;
}
.ms_main-img{
    width: 70%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /*debug*/
    background-color: red;
}
.ms_list-img{
    width: 30%;
    height: 100%;
    /*debug*/
    background-color: aqua;
}
.ms_img-col{
    width: 100%;
    height: calc(100% / 5);
    /*debug*/
    border: 1px solid black;
}